{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block main %}
<form method="post" enctype='multipart/form-data'>  
    {%csrf_token%}
 
  
{{ form | crispy }}
<button type="submit" class="btn btn-success waves-effect waves-light m-1"><i class="fe-check-circle me-1"></i> Create</button>

</form>
<form action="getprovince" method="post">{% csrf_token %}
    <label for="">Viloyat</label>
    <select name="province" class="form_control">
        <option value=""></option>
     
        {% for i in province  %}
          <option value="{{ Province.id }}">{{ i.province }}</option>
        {% endfor %}
    </select>
<script>
    $("#formAdd select[name='province']").on('change',function(){
        var $this = $(this);
        if($this.val() !=''){
            $.ajax({
                url:'{% url  "getsubprovince" %}'+$this.val(),
                type:'GET',
                success:function(resp){
                    console.log(url);
                    let options='';
                    resp.data.forEach(province=>{
                        options+='<option value='+province.title+'>'+province.title+'</option>';
                    });
                    $("#formAdd select[name='province']").find('.after').after(options)
                },
                error:function(resp){
                    console.log('Someting weng wrong');

                }
            });
        }else{
              $("#formAdd select[name='province']").find('.after').nextAll().remove()
        }
    });
</script>


</form>



   

{% endblock main %}