<form action="" method="post">

{% load static %}
{%csrf_token%}

<!DOCTYPE html>
<html lang="en" data-topbar-color="dark"><head>
    <meta charset="utf-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'static/images/favicon.ico' %}">

    <!-- Plugins css -->
    <link href="{% static 'static/css/flatpickr.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'static/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css">

    <!-- Theme Config Js -->
    <script src="{% static 'static/js/head.js' %}"></script>

    <!-- Bootstrap css -->
    <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="app-style">

    <!-- App css -->
    <link href="{% static 'static/css/app.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Icons css -->
    <link href="{% static 'static/css/icons.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="authentication-bg authentication-bg-pattern">

    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="card bg-pattern">

                        <div class="card-body p-4">
                            
                            <div class="text-center w-75 m-auto">
                                <div class="auth-brand">
                                 
                                        <span class="logo-lg">
                                            <img src="{% static 'static/images/logo-dark.png' %}" alt="" height="22">
                                        </span>
                                    </a>
                
                                    <a href="index.html" class="logo logo-light text-center">
                                        <span class="logo-lg">
                                            <img src="{% static 'static/images/logo-light.png' %}" alt="" height="22">
                                        </span>
                                    </a>
                                </div>
                                <p class="text-muted mb-4 mt-3">Login va parolni kiriting</p>
                                {% if error %}
                                    <p class="text-danger mb-4 mt-3">{{ error }}</p>

                                {% endif %}
                            </div>

                            <form action="#">

                                <div class="mb-3">
                                    <label for="emailaddress" class="form-label">Login</label>
                                    <input  type="text" class="form-control" name="username" required="" placeholder="Login kiriting">
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" name="password" class="form-control" placeholder="parol kiriting">
                                        <div class="input-group-text" data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox-signin" checked="">
                                        <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                    </div>
                                </div>

                                <div class="text-center d-grid">
                                    <button class="btn btn-primary" type="submit"> Log In </button>
                                </div>

                            </form>

                            <div class="text-center">
                               <h5 class="mt-3 text-black">login va parolingiz yoqmi</h5>
                               <a href="{% url 'register' %}">Ro'yhatdan o'tish</a>
                                <ul class="social-list list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p> <a href="{% static 'auth-recoverpw.html' %}" class="text-white-50 ms-1">Forgot your password?</a></p>
                            <p class="text-white-50">Don't have an account? <a href="auth-register.html" class="text-white ms-1"><b>Sign Up</b></a></p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->


    <footer class="footer footer-alt">
        2015 - <script>document.write(new Date().getFullYear())</script>2023 © UBold theme by <a href="" class="text-white-50">Coderthemes</a> 
    </footer>

    <!-- Authentication js -->
    <script src="{% static 'static/js/pages/authentication.init.js' %}"></script>


</body>
</html>
</form>